/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
    
.ng-select {
    min-height: 2.8rem;
    border-radius: 5px;
}
.ng-select .ng-select-container  { 
    min-height: 2.8rem;
    border-radius: 5px;
    border-color:white;
    color: #6c757d;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: white;
}

